html, body {
  height: 100%;
  background-color: #fcfcfc;
  font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
  min-height: 565px;
}

/* Wrapper for page content to push down footer */
#wrapper {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
}

header {
  position: relative;
  z-index: 1;
  border-top: 8px solid #FFA500;
}

.navbar .navbar-nav .nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #999999;
}

.navbar .navbar-nav .nav-link:hover {
  color: #FFA500;
}

.navbar .navbar-toggler {
  border:none;
  border-color: transparent;
}

.custom-home-background .navbar .navbar-toggler-icon{
  background-image: url(data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>);
}


/* custom home background */
.custom-home-background {
  height: 1200px;
  height: 100vh;
  height: calc(100vh - 85px);
  max-height: 100%;

  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.custom-home-background:after {
  background: rgba(0,0,0,.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index:0;
}

.homepage {
  position: relative;
  z-index: 1;
  color: #dddddd;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-home-background footer .text-muted {
  color: #cccccc !important;
}

.custom-home-background section a {
  color: #FFA500;
}

.custom-home-background footer a {
  color: #ffffff;
}

#title {
  color: #c67600;
  margin-top: .5em;
  margin-bottom: .5em;
}

a {
  color: #FFA500;
}

a:hover {
  color: #c67600;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

section {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  text-align: center;
}



.homepage .container {
  margin-top: 20px;
}

section.social {
  text-align: center;
}

section.social a
{
  color: #FFA500;
  margin: 10px 10px 20px;
  font-size: 24px;

}

section.social a:hover
{
  color: #c67600;
}


.custom-home-background section.social,
.custom-home-background section.social a
{
  color: #fff;
}


.custom-home-background section.social a:hover {
  color: #FFA500;
}



.meta {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
}

.summary {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.text-404 {
  display: flex; flex-direction: column; justify-content: center;
}

@media (max-width: 576px) {

  .homepage .container {
    margin-top: 10px;
  }
  
  .homepage section {
    font-size: 18px;
  }

  .avatar img.img-circle {
    width: 120px;
  }

  section.social a {
    font-size: 22px;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (max-width: 576px) {
  .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

}
