<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          digital<span style="color:#333;">joni</span>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      
    </nav>

    <nav class="social-icons">
      <ul class="list-inline">
        <li><a class="btn-social" href="http://www.facebook.com/digitaljonicom"><i class="icon icon-facebook"></i></a></li>
        <li><a class="btn-social" href="http://twitter.com/digitaljoni"><i class="icon icon-twitter"></i></a></li>
        <li><a class="btn-social" href="http://www.linkedin.com/in/digitaljoni"><i class="icon icon-linkedin"></i></a></li>
        <li><a class="btn-social" href="http://dribbble.com/digitaljoni"><i class="icon icon-dribble"></i></a></li>
        <li><a class="btn-social" href="http://be.net/digitaljoni/frame"><i class="icon icon-behance"></i></a></li>
        <li><a class="btn-social" href="https://github.com/digitaljoni"><i class="icon icon-github-alt"></i></a></li>


      </ul>
      
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
